#about {
    padding-bottom: 2rem;
}

.about-image {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
    height: auto;
    margin-top: 1rem;

    justify-self: center;
}

.about-block {

    background: linear-gradient(to bottom,
                var(--pink-100) 0%,
                var(--pink-300) 12%,
                var(--pink-400) 20%,
                var(--yellow-400) 60%,
                var(--yellow-300) 80%,
                var(--yellow-200) 90%,
                var(--yellow-100) 100%);

    padding: 3rem 1.5rem;
    border-radius: var(--border-radius-md);
}

.about-block:hover {
    transform: translateY(-6px);
    /* lyfter kortet lite */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    /* mjuk skugga */
}

.badge-autofac {
    background-color: #4A90E2;
}

.badge-a11y {
    background-color: #1E88E5;
}


@media (max-width: 700px) {
    .about-me-header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image {
        margin: 1rem auto 0;
    }
}
@media (max-width: 600px) {
    .about-image {
        margin-top: 2rem;
    }
}