
.about-me-container {
    /* background-color: var(--pink-500); */
    /* Mörk rosa bakgrund */
    /* padding: 1rem 0; */
    /* Luft ovanför och under nav */
    /* color: var(--text-body); */
        /* Ljus rosa text */
        /* border-radius: var(--border-radius-md);
        border: 20px solid transparent;
            border-image: linear-gradient(to right, var(--pink-300), var(--yellow-300)) 1; */

}

about-me-container about-me-header {
    

}

.about-me-header {
    /* align-self: start; */
    /* display: flex;
    justify-content: center;
    */

    /* margin: 0 auto; */
    /* Centrerar nav-innehållet */
    /* padding: 1.5rem; */
    /* luft */
    
    /* gap: 2.5rem; */
    /* margin-bottom: 0; */
}


.about-me-container p {

    /* text-align: center;
    padding: 1rem 3rem;
    background-color: var(--bg-section);
    
    border-radius: 0.5rem;
     */

    /* border: 20px solid transparent;
        border-image: linear-gradient(to right,
                var(--pink-300),
                var(--pink-200),
                var(--yellow-200),
                var(--yellow-300)) 1; */

}

.about-me-inner-container {
    /* display: flex */

}

/* .about-me-container::before {
    content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        background: linear-gradient(to right,
                var(--pink-300),
                var(--pink-200),
                var(--yellow-200),
                var(--yellow-300));
        bottom: 0;
        left: 0;
        border-radius: var(--border-radius-sm);
} */

#about h2 {

    /* padding: 1rem 3rem; */
    /* border: 10px solid transparent;
        border-image: linear-gradient(to right,
                var(--pink-300),
                var(--pink-200),
                var(--yellow-200),
                var(--yellow-300)) 1; */
    


}

.about-image {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
    height: auto;
    margin-top: 1rem;

    justify-self: center;
}

.about-text {

    /* padding: 1rem; */
}

.p1 {


}

.p2 {


}

.p3 {


}

.p4 {


}

.p5 {

}

.p6 {


}

/* #about h2::after {

    
content: "";
    display: block;
    height: 6px;
    width: 100%;

    background-color: var(--yellow-300);
    margin: 0.2rem auto 0;
    background: linear-gradient(to right,
            var(--pink-300),
            var(--yellow-300));
            margin: 0.5rem auto 0;
                border-radius: var(--border-radius-sm);

                
} */
@media (max-width: 700px) {
    .about-me-header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image {
        margin: 1rem auto 0;
    }
}
@media (max-width: 600px) {
    .about-image {
        margin-top: 2rem;
    }
}

