/* =========================================
   CARD - BAS
   – Komponentens bas
   – Bakgrund, padding, rundning
      Återanvänds av alla card-komponenter
========================================= */
.card {
   display: flex;
   flex-direction: column;

   gap: var(--space-md);
   padding: var(--space-md);

   border-radius: var(--border-radius-md);


   background: var(--surface-100, #fff); /* neutral bas */

   /* box-shadow: var(--shadow-sm); */
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
   transform: translateY(-6px);
   /* lyfter kortet lite */
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   /* mjuk skugga */
   /* box-shadow: var(--shadow-md); */
}

/* =========================================
   CARD IMAGE
   – Centrering, proportioner, spacing
========================================= */

.card img {
   display: block;

   width: 90%;
   max-width: 300px;
   margin: var(--space-md) auto; /* centrerar + spacing */

   border-radius: var(--border-radius-md);
}



