/* =========================================
   PORTFOLIO / PROJECTS SECTION
========================================= */


#projects .section-tagline {
      font-size: 1.1rem;
      max-width: 55ch;
      margin: 0 auto var(--space-lg);
      text-align: center;
}

#project .container {
      /* padding: 0 var(--space-lg);  biter inte på cardsen*/
}

/* GRID */
#projects .grid-auto {
      display: grid;
      grid-template-columns: 1fr;
}

/* TABLET */
@media (min-width: 600px) {
      #projects .grid-auto {
            grid-template-columns: repeat(2, 1fr);
      }
}

/* DESKTOP */
@media (min-width: 900px) {
      #projects .grid-auto {
            grid-template-columns: repeat(3, 1fr);
      }
}

/* CARD */
.project-card {
      border-radius: 0.5rem;
      background-color: var(--pink-200);
      padding: var(--space-md);
      
}

.project-card img {
      width: 90%;
      margin: var(--space-md) auto;

      border-radius: var(--radius-md);
      margin-bottom: var(--space-md);
}

.project-title {
      font-size: 1.3rem;
      font-weight: 600;

      padding: 0.6rem 1rem;

      border-radius: 0.5rem;
      background-color: var(--pink-400);

      text-align: center;
}

.project-card .cta {

      margin-top: auto;
}